:root {
  --green: #02976c;
  --light-green: #12b596;
  --grey: #acacac;
  --white: #fff;
  --black: #000;
  --blue: #0071ff;
}
.form-check-input:checked {
  background-color: var(--light-green) !important;
  border-color: var(--light-green) !important;
}
.bttn {
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease;
}

.bttn:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0px 11px 17px #d3dae270;
  opacity: 0.8;
}

.bttn-outline:hover {
  background-color: var(--white);
  border: 1px solid var(--light-green);
  color: var(--light-green);
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0px 11px 17px #d3dae270;
  opacity: 0.8;
}

.bttn:active {
  background-color: var(--green);
  border: 1px solid var(--green);
  transform: scale(1) translateY(5px);
  box-shadow: 0px 11px 17px #d3dae270;
}

.bttn-outline {
  background-color: var(--white);
  border: 1px solid var(--light-green);
  color: var(--light-green);
}

.bttn-green {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
}

.bttn-light-green {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  color: var(--white);
}

.bttn-grey {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--white);
}

.bttn-white {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--black);
}

.bttn-blue {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

button:disabled {
  cursor: not-allowed;
  transition: none;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--white);
}

button:disabled:hover {
  transform: none;
}

.bttn-sub {
  padding: 7px 34px;
}

@media screen and (max-width: 1024px) {
  .bttn {
    padding: 0.8rem 1.1rem;
  }
}
