* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  background: #edf0f4 0% 0% no-repeat padding-box;
}

.App {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  padding: 2rem;
}

/* Custom Classes */
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-tb-30 {
  margin: 30px 0;
}
.m-t--10 {
  margin-top: -10px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-45 {
  padding: 45px;
}
.txt-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.f-dir-col {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.inline-ul {
  display: inline;
}
.inline-ul li {
  display: inline;
}
.m-0 {
  margin: 0px;
}

/* Text Color */
.dark-txt {
  color: #202d35;
}
.dark-2-txt {
  color: #3c505e;
}
.light-txt {
  color: #acacac;
}

.red {
  color: #f46060;
}

.green {
  color: #3bb54a;
}
.blue {
  color: #2655aa;
}
/* Text Size */
.primary-heading {
  font-size: 2rem;
}

.t-md {
  font-size: 18px;
}

.t-sm {
  font-size: 16px;
}

.t-xsm {
  font-size: 14px;
  line-height: 1.7;
}

/* Text Style */

.t-i {
  font-style: italic;
}

/* Font Weight */

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 1024px) {
  .primary-heading {
    font-size: 1.5rem;
  }

  .t-md {
    font-size: 13px;
  }

  .t-sm {
    font-size: 12px;
  }
}
